[Unit]
Description=Romeo – The Boondock Doorbell
After=network-online.target

[Service]
EnvironmentFile=/etc/romeo
ExecStart=/usr/bin/romeo-slack.sh
Restart=always

[Install]
WantedBy=multi-user.target
