[Unit]
Description=Romeo – The Boondock Doorbell
After=network-online.target

[Service]
EnvironmentFile=/etc/romeo.ini
ExecStart=/usr/bin/romeo-slack
Restart=always

[Install]
WantedBy=multi-user.target
